@import '../../styles/colors.scss';

.form {
    box-sizing: border-box;
    padding: 15px 20px;
    background: var(--white);
    border: 1px solid #DEE7F0;
    box-shadow: 1px 2px 8px 1px rgba(52, 91, 130, 0.25);
    border-radius: 8px;
}

.form-header {
    text-align: right;

    svg {
        color: var(--main-color);
        cursor: pointer;
        transition: all .15s;

        &:hover {
            color: rgb(159, 0, 0);
        }
    }
}
