@import '../../styles/colors.scss';

.menu {
    background: var(--menu-background);
    position: fixed;
    width: 222px;
    border-right: 1px solid var(--border-color);
    height: 100vh;
    overflow: hidden;
    white-space: nowrap;
    transition: all .4s;
}

.logo {
    text-decoration: none;
    padding: 20px 17px;
    display: flex;
    font-size: 16px;
    font-weight: 400;
    align-items: center;
    color: var(--logo-color);
    font-family: 'Itim';

    h1 {
        transition: all .2s;
    }

    img {
        margin-right: 10px;
        width: 40px;
        height: 40px;
    }
}

.managment {
    background: var(--active-chapter);
    color: var(--text-color-1);
    border-width: 1px 0px;
    border-style: solid;
    border-color: var(--border-color);
    transition: all .2s;

    h1 {
        transition: all .2s;
        font-size: 20px;
    }
}


.menuItem {
    background: var(--menu-dark-background);
}

.item {
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 12.5px 20px;
    color: var(--text-color-1);
    cursor: pointer;
    transition: all .15s;
    opacity: .4;

    img {
        width: 25px;
        height: 25px;
        filter: invert(1);
        margin-right: 10px;
        transition: all .2s;
    }

    h1 {
        font-size: 14px;
        font-weight: 400;
        transition: all .2s;
    }

    &:hover {
        opacity: .9;
    }
}

.active {
    opacity: .9;
}

.toggleTheme {
    position: absolute;
    display: flex;
    bottom: 0;
    padding: 10px;
    transition: all .4s;
}

.themeBtn {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    transition: all .2s;
    border-radius: 5px;
    color: var(--text-color-1);

    &:hover {
        background: var(--menu-dark-background);
    }
}