@import '../../styles/colors.scss';

.dashboard {
    margin-top: 80px;
}

.title {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.titleInfo {
    h1 {
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        color: var(--main-color);
    }

    p {
        font-weight: 400;
        font-size: 18px;
        line-height: 29px;
        color: var(--main-color);
    }
}

.dashboardContent {
    margin-top: 20px;
    display: grid;
}

.top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
}

.bottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
}

.component {
    overflow: hidden;
    padding: 15px 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    width: 100%;
    background: var(--white);
    border: 1px solid #DEE7F0;
    box-shadow: 0 5px 6px 0px var(--shadow);
    border-radius: 8px;

    h1 {
        color: var(--main-color);
        font-size: 16px;
        margin-bottom: 20px;
    }
}

.infoTop {
    display: grid;
    grid-template-columns: 80px 1fr;
}

.avatar {
    position: relative;
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 50%;

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
    }
}

.infoContent {
    margin-left: 10px;

    h1 {
        display: flex;
        align-items: center;
        font-size: 20px;
        color: var(--border-color);
        margin-bottom: 10px;
    }

    h2 {
        font-size: 16px;
        color: var(--main-color);
    }
}

.infoStatistics {
    margin-top: 10px;
    padding-top: 5px;
    position: relative;

    img {
        width: 100%;
        height: 55px;
    }

    &::after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: var(--border-color);
    }

    p {
        margin-top: 5px;
        color: var(--main-color);

        font {
            font-weight: 600;
            color: var(--border-color);
        }
    }
}

.lessonsContent {
    position: relative;
    overflow-y: scroll;
    max-height: 140px;
    padding-right: 4px;

    p {
        width: 100%;
        text-align: center;
        background: var(--not-item);
        font-size: 16px;
        padding: 10px 0;
        border-radius: 5px;
        color: var(--menu-background);
    }

    &::-webkit-scrollbar {
        width: 3px;
    }
    
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: var(--border-color);
    }

    img {
        height: 20px;
    }
}

.lesson {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    box-shadow: 0 5px 6px 0px var(--shadow);

    &:first-child {
        margin-top: 0;
    }
}


.lessonTop {
    display: flex;
    justify-content: space-between;

    h1 {
        color: var(--border-color);
        font-size: 16px;
    }
}

.lessonInfo {
    h1 {
        margin: 0;
    }
}

.schoolInfo {
    color: var(--main-color);

    img {
        height: 20px;
    }

    p {
        margin: 2px 0;
    }

    font {
        color: var(--border-color);
        font-weight: 600;
    }
}