@import '../../styles/colors.scss';

.dashboard {
    margin-top: 80px;
}

.title {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.titleInfo {
    h1 {
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        color: $mainColor;
    }

    p {
        font-weight: 400;
        font-size: 18px;
        line-height: 29px;
        color: $mainColor;
    }
}