@import '../../styles/colors.scss';

.home {
    margin-top: 80px;
}

.title {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.titleInfo {
    h1 {
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        color: var(--text-color-2);
    }

    p {
        font-weight: 400;
        font-size: 18px;
        line-height: 29px;
        color: var(--context-color);
    }
}

.reminderPanel {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;

    h2 {
        width: 100%;
        text-align: center;
        margin: 20px 0;
        margin-top: 40px;
        background: var(--not-item);
        font-size: 20px;
        padding: 10px 0;
        border-radius: 5px;
        color: var(--context-color);
    }
}

.titleRemider {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    
    &::after {
        position: absolute;
        content: '';
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: var(--main-color);
    }
}

.left {
    display: flex;
    align-items: center;
    width: calc(100% - 60px);
    
    svg {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        color: var(--text-color-2);
    }
    
    h1 {
        color: var(--text-color-2);
        font-size: 16px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.right {
    display: flex;
    width: 60px;
    border-radius: 5px;
    overflow: hidden;

    svg {
        cursor: pointer;
        padding: 5px;
        width: 20px;
        height: 20px;
        transition: all .2s;
        border: none;
        color: var(--text-color-2);

        &:hover {
            background: rgba($color: #000, $alpha: .1);
        }
    }
}

.remider {
    padding: 15px 20px;
    box-sizing: border-box;
    max-width: 360px;
    min-width: 310px;
    background: var(--block-color);
    border: 1px solid var(--border-color);
    box-shadow: 0 5px 6px 0px var(--shadow);
    border-radius: 8px;
    transition: all .2s;

    p {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        margin-top: 10px;
        font-size: 16px;
        color: var(--main-color);
        font-weight: 500;
        -webkit-line-clamp: 3;
        overflow: hidden;
    }
}

.load {
    grid-column-start: 2;
}

.notRemider {
    width: 100%;
    text-align: center;
    margin-top: 100px;
    color: var(--main-color);
    font-size: 26px;
}